<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Creacion de Producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/crearProducto.css">
    </head>
<body> 
    
    <%- include('../partials/header') %>
     
    <main class="main"> 
    <form action="/productos/crear" method="POST" class="contenedorFormulario" enctype="multipart/form-data">    
    <br/>
    <h2>Completá la información de tu producto</h2>
    <br/>
        <div class="formulario">
            <div class="nombreYdescripcion">
                <div class="campo">
                    <p><label for=""><strong>Nombre del producto</strong></label></p>   
                    <br/>
                    <p><input type="text" id='nombre' name="nombre" class="input" value="<%= locals.oldData ? oldData.nombre : null  %>"></p> 
                    <% if(locals.errors && errors.nombre) { %> 
                        <div class="error"><%= errors.nombre.msg %></div>
                    <% } %> 
                </div>
                <div class="campo">    
                    <p><label for=""><strong>Descripción</strong></label></p>   
                    <br/>
                    <p><input type="text" id="descripcion" name="descripcion" class="input" value="<%= locals.oldData ? oldData.descripcion : null  %>"></p> 
                    <% if(locals.errors && errors.descripcion) { %> 
                        <div class="error"><%= errors.descripcion.msg %></div>
                    <% } %>  
                </div>
            </div>
            
            <div class="precioYcategoria">
                <div class="campo">
                    <p><label for=""><strong>Precio</strong></label></p>   
                    <p><input type="number" id="precio" name="precio" class="input" value="<%= locals.oldData ? oldData.precio : null  %>"></p>
                    <% if(locals.errors && errors.precio) { %> 
                        <div class="error"><%= errors.precio.msg %></div>
                    <% } %> 
                    <br/>
                </div>
                
            </div>

        </div>
        <div class="campo">
                <p><label for=""><strong>Imagen</strong></label></p>   
                <br/>
                <p><input type="file"  id="imagen" name="imagen" class="input" value="<%= locals.oldData ? oldData.imagen : null  %>"></p> 
                <% if(locals.errors && errors.imagen) { %> 
                    <div class="error"><%= errors.imagen.msg %></div>
                <% } %>    
                <br/>                    
        </div>
        
        
            </p>
                <button type="submit">Confirmar</button>
                <button type="submit">Volver</button>
         </p>
    </form>

    </main>
    <%- include('../partials/footer') %>
    <script src="../../../public/js/ValidacionesFront.js" type="text/javascript"> </script>
</body>
</html> 