<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Detalle de Producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/detalleProducto.css">
    </head>

    <%- include('../partials/header') %>
<body>
        
    <main>
        <h1 class="nombre-producto"> <%= producto.name %> </h1>   
        <section class="producto">
            <img src="/images/productos/<%= producto.image %>" alt="cocina" class="product_img">
        </section>
        <section>
            <p class="price"></p>
        </section>
        <section class="agregar-carrito">
            <form action="/carritoCompras" method="get">
                <button type="submit"> Agregar al carrito</button>   
            </form>
        </section>   
        <section class="precio">
            <h2> <strong> Precio:</strong></h2>
            <p>$<%= producto.price %></p>
        </section>
        <section class="Descripcion">
            <h2> <strong> Descripcion del producto:</strong></h2>
            <p><%= producto.description %></p>
        </section>

        <form action="/productos/editar/<%=producto.id_product%>" class="action-button edit" >
            <button type="submit"> Editar Producto</button>   
        </form>
        <form action="/productos/eliminar/<%=producto.id_product%>"class="action-button edit" >
            <button type="submit"> Eliminar Producto</button>   
        </form>
    </main>
    <form action="/">
        <button type="submit">Volver</button>
    </form>
    <%- include('../partials/footer') %>
    
</body>
</html> 