<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Edicion Producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/registro.css">
        <%- include('../partials/header') %>
    </head>

    <body> 
    
    
    
    <main class="main">
        <form action="/productos/editar/<%=producto.id%>?_method=PUT" method="POST" class="contForm">    
            <br/>
            <p><label for=""><strong>Estas editando: <%= producto.nombre %> </strong></label></p>   
            <p><input type="text" name="nombre" value=<%= producto.nombre %> placeholder=<%= producto.nombre %>></p> 
            <br/>
            <p><label for=""><strong>Descripción</strong></label></p>   
            <p><input type="text"  name="descripcion" value=<%= producto.descripcion %> placeholder=<%= producto.descripcion %>></p> 
            <br/>
            <!--<p><label for=""><strong>Imagen</strong></label></p>   
            <p><input type="file" id="imagen" name="imagen" placeholder="Imagen"></p> 
            <br/>-->
            <p><label for=""><strong>Categoría</strong></label></p>   
            <p><input type="text"  name="categoria" value=<%= producto.categoria %> placeholder=<%= producto.categoria %>></p> 
            <br/>
            <p><label for=""><strong>Precio</strong></label></p>   
            <p><input type="number"  name="precio" value=<%= producto.precio %> placeholder=<%= producto.precio %>></p>
            <br/>
            <p><button type="submit">Confirmar</button>
            <button type="submit">Volver</button>
            </p>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html> 