<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GBV - Carrito de compras</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/carritoCompras.css">
  </head>

<%- include('partials/header') %>
<body>
    
    

    <h1 class="title">Carrito de compras</h1>
    <main class="mainCarrito">
      <% productos.forEach( producto => { %>
        <article class="productoCarrito">
          <img src="<%= producto.img %>" alt="<%= producto.nombre %>" class="product_img">
          <article class="main-article">
              <p class="description"><%= producto.nombre %></p>
              <p class="price"><%= producto.precio %></p>
              <p class="cantidad">
                  <strong>Cantidad: </strong>
                  <input
                    class="box"
                    type="number"
                    name="cantidad"
                    id="cantidad"
                    min="1"
                  />
                </p>
          </article>
        </article>
      <%})%>
    </article>
    </main>
    <form class="botones-carrito" action="/" method="GET">
        <button type="submit" id="finalizar">
            Finalizar Compra
          </button>
          <button type="submit" id="seguir"> Seguir comprando</button>
    </form>
    <%- include('partials/footer') %>    
</body>
</html> 