<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headDetalleProducto') %>
<body>
    
    <%- include('partials/header') %>
    
    <main>
        <h1 class="nombre-producto"> <%= producto.nombre %> </h1>   
        <section class="producto">
            <img src="/public/images/destacado2.PNG" alt="cocina" class="product_img">
        </section>
        <section>
            <p class="price"></p>
        </section>
        <section class="agregar-carrito">
            <form action="/carritoCompras" method="get">
                <button type="submit"> Agregar al carrito</button>   
            </form>
        </section>   
        <section class="Descripcion">
            <h2> <strong> Descripcion del producto:</strong></h2>
            <p><%= producto.descripcion %></p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html> 