<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Login</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/login.css">
    </head>

<body class="body">  
    
    <%- include('../partials/headerSinLogin') %>
    <br/>
    
    <main class="login-card">
        
        <form action="/login" method="POST" class="mainForm"> 
            <div class="card-header">
                <div class="log">Login</div>
            </div>
            <div class="form-group">
                <label for="email">Email de usuario:</label>
                <input value= "<%= locals.oldData ? oldData.email : null  %>" name="email" id="email" type="text">
                <% if(locals.errors && errors.email) { %> 
                    <div class="error"><%= errors.email.msg %></div>
                <% } %> 
            </div>
            <div class="form-group">
                <label for="">Contraseña de usuario:</label>
                <input name="contrasenia" id="contrasenia" type="password">
                <% if(locals.errors && errors.contrasenia) { %> 
                    <div class="error"><%= errors.contrasenia.msg %></div>
                <% } %> 
              </div>
            <div class="form-group">
            <input value="Iniciar Sesión" type="submit">
            </div>
            <center>
                <label><input type="checkbox" name="remember" id="remember"> Recordar usuario</label><br>
            </center>
            
        </form>

    </main>
</body>
<br/>
    
<%- include('../partials/footer') %>
</html> 