<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GBV - Registro</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="/css/registro.css">
    </head>
<body class="body">  
    
    <%- include('../partials/headerSinLogin') %>
    <br/>
    
    <main class="login-card">
        <form action="/registro" method="POST" class="contForm" enctype="multipart/form-data" >  
            <div class="card-header">
                <div class="log">Registro</div>
            </div>
            <div class="form-group">
                <label for="email">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="<%= locals.oldData ? oldData.nombre : null  %>">
                <% if(locals.errors && errors.nombre) { %> 
                    <div class="error"><%= errors.nombre.msg %></div>
                <% } %> 
            </div>
            <div class="form-group">
                <label for="email">Apellido:</label>
                <input type="text" id="apellido" name="apellido" value="<%= locals.oldData ? oldData.apellido : null  %>">
                <% if(locals.errors && errors.apellido) { %> 
                    <div class="error"><%= errors.apellido.msg %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="<%= locals.oldData ? oldData.email : null  %>">
                <% if(locals.errors && errors.email) { %> 
                    <div class="error"><%= errors.email.msg %></div>
                <% } %> 
            </div>
            <div class="form-group">
                <label for="email">Contraseña:</label>
                <input type="password" id="contrasenia" name="contrasenia" value="<%= locals.oldData ? oldData.contrasenia : null  %>">
                <% if(locals.errors && errors.contrasenia) { %> 
                    <div class="error"><%= errors.contrasenia.msg %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="email">Confirmar contraseña:</label>
                <input type="password" id="contrasenia2" name="contrasenia2" value="<%= locals.oldData ? oldData.contrasenia2 : null  %>">
                <% if(locals.errors && errors.contrasenia2) { %> 
                    <div class="error"><%= errors.contrasenia2.msg %></div>
                <% } %>
            </div>
            <div class="campo">
                <p><label for=""><strong>Imagen</strong></label></p>
            <br/>
                <p><input type="file" id="imagen" name="imagen" class="input" value="<%= locals.oldData ? oldData.imagen : null  %>"></p>    
                <% if(locals.errors && errors.imagen) { %> 
                    <div class="error"><%= errors.imagen.msg %></div>
                <% } %>                
            </div>
            <br/>
            
            <div class="form-group">
                <input value="Confirmar" type="submit">
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html> 